%footer.py-3(style='background-color: #c8cbd1;')
  .container
    %ul.nav.flex-column
      .row
        .col-sm-6
          %li.nav-item
            = link_to 'Главная', routes.root_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Обо мне', '/about', class: 'nav-link'
          -#%li.nav-item
          -#  = link_to 'Портфолио', routes.portfolio_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Цены', '/prices', class: 'nav-link'
        .col-sm-4
          %li.nav-item
            = link_to 'Акции', '/special_offers', class: 'nav-link'
          -#%li.nav-item
            -#= link_to 'Часто задаваемые вопросы', '/faq', class: 'nav-link'
          -#%li.nav-item
          -#  = link_to 'Блог', routes.blog_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Контакты', '/contacts', class: 'nav-link'
        .col-sm-2.text-right
          .mt-1
            %a(href="https://vk.com/orange_yeti" target="_blank" rel="nofollow")
              %i.fa.fa-vk
            %a(href="https://www.instagram.com/girl_near_you/" target="_blank" rel="nofollow")
              %i.fa.fa-instagram
            -#%a(href="" target="_blank" rel="nofollow")
            -#  %i.fa.fa-facebook-official